<html>
<head>
  <title>Emulator Warehouse</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <h1>Emulator Warehouse</h1>
  <p>Find emulators for any system</p>
</body>
</html>